
@mixin marg ($top, $right, $bottom, $left) {
  margin : {
    top : $top;
    left : $left;
    right : $right;
    bottom : $bottom;
  }
}
.margin1{
  //margin-top: 30px;
  @include marg(30px,0px,0px,0px);
}
.margin2{
  @include marg( 0px,100px,0px,100px);
  padding: 150px 150px 80px 150px;
}
.margin-footer{
  padding: 30px 0px 30px 0px;
}
.top-bar{
  
  background-color: aqua;
  top:0px;
  width:100%;
  padding-top:0px;
  padding-bottom:0px;
  z-index:1;
  min-width:500px
}
img{
  z-index:0;
}
.con{
  width:100%;
}
.head-link{
  padding : 20px 20px 20px 20px;
  color : black;
  &:hover{
  background-color: silver;
  text-decoration: none;
  color: white;
}
  &:link {
  color: black; 
  text-decoration: none;
}
  &:visited{
  color: black; 
  text-decoration: none;
}
 
}


.actives{
  background-color: grey;
  color: white;
}
.hover-zoom{
  &:hover{
  border: 3px solid #d3d3d3;
}
  }

.footere-link{
  background-color: silver;
  border: 5px solid blue;
  padding: 5px 5px 5px 5px;
  border-radius: 50%;
  &:hover{
  background-color: white;
  }
}
.container-fluid{
  min-width: 500px;
  background : {
    image : url('https://llepog-dm2305.files.1drv.com/y4mb04DrHsP-w3cAxTTNk8l1tnUjHCUy1PQStfTm8MnOXx6UBRVG64DtVG6J1aHtq-XFqeslJA-SHVcCV1FGrVuxhQhEk-UJGHK3mHonr-75nIjzfawahhzler357y7YcLgh4WIqag7PjR2qY6DAcMq8Zo7qiF7wIfw35hi5nxqERYlmqBx87E0GO85L01CTOLTS1wZJFaxNNhwrTKFmE4mqg?width=2560&height=1600&cropmode=none');
    repeat: no-repeat;
    attachment : fixed;
  }
}
